body {
  background-image: url("https://blog.apilayer.com/wp-content/uploads/2022/12/traxer-4PljbcYIzyE-unsplash-1140x694.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94vh;
  background-color: black;
}

.container {
  height: 80vh;
  width: 90vh;
  border: 2px solid rgb(218, 204, 204);
  background-color: #858278;
  opacity: 85%;
  border-radius: 12vh;
}
h2 {
  text-align: center;
  color: rgb(28, 27, 27);
  font-size: 7vh;
}
.dropdown {
  display: flex;
  justify-content: space-evenly;
}
.from {
  font-size: 3vh;
}
.to {
  font-size: 3vh;
}
i {
  margin-top: 9vh;
  font-size: 5vh;
  color: aliceblue;
}
#amount-heading {
  font-size: 4vh;
  color: aliceblue;
  margin-left: 8vh;
}
input {
  height: 4vh;
  width: 80vh;
  margin-left: 5vh;
  border-radius: 5vh;
  font-weight: bolder;
  font-size: 4vh;
}
.msg {
  font-size: 5vh;
  text-align: center;
  margin-top: 3vh;
}
button {
  width: 70vh;
  margin-left: 10vh;
  margin-top: 3vh;
  background-color: orange;
  color: aliceblue;
  height: 6vh;
  font-weight: bolder;
  font-size: 3vh;
}
select {
  height: 4vh;
  width: 7vh;
}
@media only screen and (max-width: 900px) {
  body {
    background-image: url("https://blog.apilayer.com/wp-content/uploads/2022/12/traxer-4PljbcYIzyE-unsplash-1140x694.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
  }
  .container {
    height: 80vh;
    width: 70vh;
    border: 2px solid rgb(218, 204, 204);
    background-color: #858278;
    opacity: 85%;
    border-radius: 12vh;
  }
  input {
    height: 4vh;
    width: 60vh;
    margin-left: 5vh;
    border-radius: 5vh;
    font-weight: bolder;
    font-size: 4vh;
  }
  button {
    width: 50vh;
    margin-left: 10vh;
    margin-top: 3vh;
    background-color: orange;
    color: aliceblue;
    height: 6vh;
    font-weight: bolder;
    font-size: 3vh;
  }
}
@media only screen and (max-width: 700px) {
  body {
    height: 100vh;
    padding: 2vh;
  }

  .container {
    height: auto;
    min-height: 80vh;
    width: 90vw;
    max-width: 90vw;
    border: 2px solid rgb(218, 204, 204);
    padding: 2vh;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    margin: 1vh 0;
  }

  .from,
  .to {
    font-size: 3vh;
    text-align: center;
  }

  i {
    margin-top: 1.5vh;
    font-size: 3vh;
    transform: rotate(90deg);
  }

  #amount-heading {
    font-size: 3vh;
    margin-left: 0;
    text-align: center;
  }

  input {
    width: 85vw;
    max-width: 85vw;
    margin-left: 0;
    margin: 2vh auto;
    display: block;
    font-size: 3vh;
    padding: 0 2vh;
  }

  .msg {
    font-size: 3vh;
    padding: 0 2vh;
  }

  button {
    width: 80vw;
    max-width: 80vw;
    margin-left: 0;
    margin: 3vh auto;
    display: block;
    font-size: 2.5vh;
    border-radius: 3vh;
  }

  select {
    width: 15vw;
    min-width: 60px;
    font-size: 2vh;
  }
}
